//-// This line will import everything that is in the main-layouts.pug file
extends layouts/main-layout.pug

block title
    title Page Not Found
    img(src="https://371814.smushcdn.com/1311180/wp-content/uploads/2019/07/404error-1-1024x582.jpg?size=1024x1024&lossy=1&strip=1&webp=1", alt="Page Not Found")
block content
    h1 Page Not Found!



